.App {
  text-align: center;
}

body {
  margin: 0% 5%;
  /* background-color: brown; */
}

#application {
  display: flex;
  flex-direction: row;
}

#navbar a {
  display: flex;
  flex-direction: column;
  margin: 10pt;
}

#menu_column {
  width: 20%;
}

#evocation_main {
  width: 80%;
}

#welcome_bar {
  display: flex;
  flex-direction: row;
}

#logout_button {
  height: 20px;
  margin: 30px 20px;
}

#new_and_uploaded_evocations {
  padding: 20px;
  border: 2px solid black;
}

#evocations {
  border: 1px solid black;
  width: 300px;
  height: auto;
}

#prebuilt_evocations {
  padding: 20px;
  border: 2px solid black;
}

#evocation_image {
  max-width: 300px;
  max-height: auto;
}

#new_evocation_form {
  display: flex;
  flex-direction: column;
  gap: 10px 10px;
  margin: 0 auto;
}

#writings {
  column-count: 4;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

#each_writing {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 2px black;
  cursor: pointer;
}

#images {
  margin-top: 20px;
  column-count: 4;
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}

#each_image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}

#image {
  max-width: 100%;
  max-height: 100%;
}

#sounds {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}

#each_sound {
  padding: 20px;
  border: 1px solid black;
  max-width: 400px;
}

#template {
  border: 2px solid gray;
}

#template_image {
  max-width: 300px;
  max-height: auto;
}