.App {
  text-align: center;
}

body {
  margin: 0% 5%;
  max-width: 1500px;
  /* background-color: brown; */
}

#title {
  margin: 30px 0;
  min-width: 275px;
}

#menu_and_main {
  display: flex;
  flex-direction: row;
}

#navbar a {
  display: flex;
  flex-direction: column;
  margin: 15pt 0;
}

#crafting_materials {
  margin-left: 10%;
}

#menu_column {
  min-width: 200px;
  max-width: 200px;
}

#evocation_main {
  min-width: 700px;
  max-width: 1050px;
}

#welcome_bar {
  display: flex;
  flex-direction: row;
}

#logout_button {
  height: 20px;
  margin: 30px 20px;
}

#evocations {
  border: 1px solid black;
  width: 300px;
  height: auto;
}

#uploaded_evocations {
  padding: 20px;
  border: 2px solid black;
}

#prebuilt_evocations {
  padding: 20px;
  border: 2px solid black;
}

#evocation_image {
  max-width: 300px;
  max-height: auto;
}

#new_evocation_form {
  display: flex;
  flex-direction: column;
  gap: 10px 10px;
  margin: 0 auto;
}

#writings {
  column-count: 4;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

#each_writing {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 2px black;
  cursor: pointer;
}

#images {
  margin-top: 20px;
  column-count: 4;
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}

#each_image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}

#image {
  max-width: 100%;
  max-height: 100%;
}

#sounds {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}

#each_sound {
  padding: 20px;
  border: 1px solid black;
  max-width: 400px;
}

#template {
  border: 2px solid gray;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

#actions {
  display: flex;
  flex-direction: column;
  gap: 15px 0px;
  max-width: 20%;
  margin: 0 0;
}

#actions button {
  max-width: 75px;
}

#selected_materials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
}

#selected_materials p, div, audio {
  margin: 0 auto;
}

#template_image {
  max-width: 50%;
  max-height: auto;
}

#footer {
  text-align: center;
  margin-top: 50px;
}