.App {
  text-align: center;
}

body {
  margin-left: 50px;
  max-width: 2500px;
}

#title {
  margin: 30px 0;
  min-width: 275px;
}

#menu_and_main {
  display: flex;
  flex-direction: row;
}

.auth_forms {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px 0px;
  max-width: 20%;
}

.auth_form_switch {
  max-width: 100%;
  margin: 10px auto;
}

#navbar a {
  display: flex;
  flex-direction: column;
  margin: 15pt 0;
}

#crafting_materials {
  margin-left: 10%;
}

#menu_column {
  min-width: 200px;
  max-width: 200px;
  margin-left: 20px;
}

#evocation_main {
  padding: 20px;
  min-width: 900px;
  max-width: 1750px;
  margin-right: 10%;
}

#logout_btn {
  width: 100px;
  margin-left: 93%;
}

#welcome_bar {
  display: flex;
  flex-direction: row;
}

#home {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

#evocations {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 20px 0px;
  border: 1px solid black;
  width: 400px;
  height: auto;
  box-sizing: border-box;
  box-shadow: 0 0 5px black;
}

#uploaded_evocations_container {
  box-shadow: 0 0 5px black;
  padding: 20px;
}

#uploaded_evocations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px;
  padding: 20px;
  margin: 20px 0px;
}

#prebuilt_evocations_container {
  box-shadow: 0 0 5px black;
  padding: 20px;
}

#prebuilt_evocations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px;
  padding: 20px;
  margin: 20px 0px;
}

#evocation_image {
  max-width: 300px;
  max-height: auto;
  margin: 25px auto 0 auto;
  box-sizing: border-box;
  box-shadow: 0 0 5px black;
}
 
#new_evocations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 5px black;
  width: 100%;
}

#editor_uploads_container > * {
  margin: 0 auto;
  width: 90%;
}

#new_evocation_form {
  padding: 20px;
}

#new_evocation_form input {
  margin: 10px 0 0 0;
}

#new_evocation_form label {
  width: 90%;
}

#upload_form_button {
  width: 10%;
} 

.materials {
  text-align: center;
}

.labels {
  text-align: center;
}

#writings {
  column-count: 4;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

#each_writing {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 2px black;
  cursor: pointer;
}

#images {
  column-count: 4;
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
}

#each_image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}

#image {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 5px black;
}

#sounds {
  column-count: 2;
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px;
}

#each_sound {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px black;
  width: 450px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
}

#select_sound_button {
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}

.audio_controls {
  margin: 0 auto;
  text-align: center;
}

#controls_template_container {
  display: flex;
  flex-direction: column;
}

#template {
  border: 2px solid gray;
  padding: 40px;
}

#selected_materials {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  justify-content: center;
  min-width: 300px;
}

#selected_materials > * {
  margin: 0 auto;
}

#template_image {
  max-width: 50%;
  max-height: auto;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px 15px;
  margin: 0 auto;
}

#controls button {
  max-width: 75px;
}

#commit_container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

#footer {
  text-align: center;
  position: bottom;
  margin-top: 20%;
  color: rgb(92, 92, 92);
}