body {
  max-width: 2500px;
}

#title_container {
  width: 20%;
  height: auto;
  margin: 3% 0% 0% 2%;
}

#title_image {
  max-width: 100%;
  max-height: 100%;
}

.auth_background {
  background: url('./Components/Logo/Welcome.png') no-repeat center center fixed;
  background-size: contain;
  height: 100vh;
  width: 100vw;
}

.auth_forms {
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 35%;
  left: 44%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px 0px;
  width: 10%;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.auth_form_switch {
  max-width: 100%;
  margin: 10px auto;
}

#account_exists {
  text-align: center;
}

#navbar a {
  display: flex;
  flex-direction: column;
  margin: 15pt 0;
}

#crafting_materials {
  margin-left: 10%;
}

#menu_column {
  min-width: 200px;
  max-width: 200px;
  margin: 0% 0% 0% 4%;
}

#evocation_main {
  position: relative;
  margin: -22% 20.75% 12% 22%;  
  padding: 20px;
}

button {
  background-color:#a02424;
  color: #fff;
  border: 2px solid #550e0e;
  border-radius:10px;
  cursor: pointer;
} 

button:hover {
  background-color:#7e0e0e;
  outline-color: 2px solid #a02424;
  outline-style:solid;
  box-shadow: 0px 0px 1.75px 1.75px rgb(0,0,0);
}

.submit_button:hover {
  box-shadow: 0px 0px 2px 2px rgb(160, 36, 36);
  text-shadow: 0 0 3em rgb(160, 36, 36);
}

#upload_submit_button {
  margin: 20px 0px 0px 0px;
}

#logout_btn {
  width: 100px;
  margin-left: 90%; 
}

#welcome_bar {
  display: flex;
  flex-direction: row;
}

#evocation_elements {
  display: flex;
  flex-direction: column;
  gap: 60px 0;
}

#user_directions {
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

#evocations {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 20px 0px;
  border: .5px solid black;
  width: 400px;
  height: auto;
  box-sizing: border-box;
  box-shadow: 0 0 20px black;
  border-radius: 25px;
  position: relative;
}

#uploaded_evocations_container {
  box-shadow: 0 0 10px black;
  border-radius: 25px;
  padding: 20px;
}

#uploaded_evocations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 20px;
  padding: 20px;
  margin: 20px 0px;
}

#prebuilt_evocations_container {
  box-shadow: 0 0 10px black;
  border-radius: 25px;
  padding: 20px;
}

#prebuilt_evocations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 20px;
  padding: 20px;
  margin: 20px 0px;
}

#evocation_image {
  max-width: 300px;
  max-height: auto;
  margin: 25px auto 0 auto;
  box-sizing: border-box;
  box-shadow: 0 0 5px black;
}

.delete_button {
  position:absolute;   
  width: 100px;             
  bottom: 15px;   
  left: 37.5%;   
}
 
#new_evocations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 20px black;
  border-radius: 25px;
  width: 100%;
}

#new_evocations > * {
  padding: 20px;
}

#editor_uploads_container > * {
  margin: 0 auto;
  width: 90%;
}

#new_evocation_form {
  padding: 20px;
}

#form_elements {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
}

#new_evocation_form input {
  margin: 0 auto;
}

#new_evocation_form label {
  text-align: left;
}

.materials {
  text-align: center;
  position: relative;
  margin: -16% 15% 12% 15%;
}

.labels {
  text-align: center;
}

#writings {
  column-count: 4;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

#each_writing {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 2px black;
  cursor: pointer;
}

#images {
  column-count: 4;
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
}

#each_image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 2px black;
  cursor: pointer;
}

#image {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

#sounds {
  column-count: 2;
  margin: 0px auto;
  padding: 20px;
}

#each_sound {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: .5px solid black;
  margin-bottom: 20px;
}

#select_sound_button {
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}

.audio_controls {
  margin: 20px auto;
  text-align: center;
}

#controls_template_container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

#template {
  border: .5px solid black;
  box-shadow: 0 0 10px black;
  border-radius: 25px;
  padding: 40px;
}

#selected_materials {
  display: flex;
  flex-direction: column;
  border: .5px solid black;
  padding: 20px;
  justify-content: center;
  max-width: 350px;
  margin: 25px auto 25px auto;
  box-sizing: border-box;
  box-shadow: 0 0 20px black;
  border-radius: 25px;
  min-width: 300px;
}

#template_image {
  max-width: 250px;
  margin: 25px auto 25px auto;
  box-sizing: border-box;
  box-shadow: 0 0 5px black;;
}

#template_writing {
  text-align: center;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px 15px;
  margin: 0 auto;
}

#controls button {
  max-width: 75px;
}

#commit_container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

#footer {
  text-align: center;
  color: rgb(92, 92, 92);
}